{% extends "layout.html" %}

{% block content %}
    <div class="title">
        <h2> ADD A PAGE</h2>
    </div>
    <div class="maincontent">
        <form action="/add/submit" method="POST">
            <div class="form-group">
                <label for="title_field">PAGE TITLE</label>
                <input name="title" type="text" class="form-control" id="title_field">
            </div>
            <div class="form-group">
                <label for="content_field">PAGE CONTENT</label>
                <textarea name="content_f" class="form-control" rows="15"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}